* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Rounded", sans-serif;
}

h1 {
  color: #fff;
}

h2 {
  font-size: 24px;
  color: #141414;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

span {
  font-size: 13.6px;
  color: #545658;
}

p {
  font-size: 13.92px;
  color: #545658;
}

ul {
  list-style-type: none;
}

section, footer {
  padding: 50px 0px;
}

footer {
  background-color: #4c4c4c;
  color: #fff;
}

.container {
  margin: 0 auto;
}

header .container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0px;
}
header .container .logo-sign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .container .logo-sign a {
  padding-left: 30px;
  text-decoration: none;
}
header .container .logo-sign a i {
  padding-right: 8px;
  font-size: 25px;
}
header .container .nav-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 800px;
}
header .container .nav-search nav {
  margin-left: 50px;
}
header .container .nav-search nav ul li {
  display: inline;
  padding: 0px 20px;
}
header .container .nav-search nav ul li a {
  text-decoration: none;
}
header .container .nav-search input[type=text] {
  padding: 8px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  background-color: #f6f6f6;
}
header .container .nav-search ::placeholder {
  font-size: 13px;
  padding-left: 30px;
}

#search {
  padding: 0px;
  height: 69px;
  background-color: #149edc;
}
#search .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
#search .container h1 {
  font-size: 38px;
  font-weight: 700;
}
#search .container input[type=text] {
  width: 100%;
  padding: 15px 0px;
  margin-left: 60px;
  border: none;
  border-radius: 2px;
}
#search .container ::placeholder {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 15px;
}

#world {
  background-image: url("/assets/images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#world .container .world {
  text-align: center;
}
#world .container .world h2 {
  font-size: 25px;
  font-weight: 600;
}
#world .container .weathers {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
#world .container .weathers .card1, #world .container .weathers .card2, #world .container .weathers .card3, #world .container .weathers .card4 {
  margin: 0 auto;
  margin-top: 25%;
  padding: 5px 30px;
  width: 270px;
  height: 415px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
#world .container .weathers h1 {
  float: right;
  color: #666;
  font-weight: 300;
  font-size: 60.5px;
  line-height: 0.2em;
}
#world .container .weathers h2 {
  font-weight: 400;
  font-size: 28px;
  margin: 15px 0px;
}
#world .container .weathers h3 {
  float: left;
  margin-right: 33px;
  color: #777;
  font-weight: 400;
  font-size: 1em;
  -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
}
#world .container .weathers span {
  margin-left: 24px;
  color: #999;
  font-weight: 300;
}
#world .container .weathers span span {
  margin-left: 0;
}
#world .container .weathers .dot {
  font-size: 0.9em;
}
#world .container .weathers .sky {
  position: relative;
  margin-top: 108px;
}
#world .container .weathers table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
}
#world .container .weathers tr:nth-child(2),
#world .container .weathers tr:nth-child(3) {
  font-size: 0.9em;
}
#world .container .weathers tr:nth-child(3) {
  color: #999;
}

#features .container {
  margin: 0 auto;
}
#features .container .features {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
#features .container .features .news1, #features .container .features .news2, #features .container .features .news3, #features .container .features .news4, #features .container .features .news5 {
  padding: 0px 15px;
}
@media screen and (min-width: 800px) {
  .container {
    width: 1234px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */